<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TaxCalculatorModelContainer" connectionString="metadata=res://*/TaxCalculatorModel.csdl|res://*/TaxCalculatorModel.ssdl|res://*/TaxCalculatorModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=D:\Dropbox\Dropbox\proiecte\work\Vs2010\TaxCalculator\TaxCalculator\TaxCalculator\bin\Debug\Database\TaxCalculator.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>