<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CashBook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.11.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a"/>   
  </configSections>
  <log4net configSource="log4net.config"/>
  <startup>  
  
  </startup>
  <connectionStrings>
    <add name="CashBookContainer" connectionString="metadata=res://*/CashBook.csdl|res://*/CashBook.ssdl|res://*/CashBook.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|Database\Cashbook.sdf&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings> 
  <applicationSettings>
    <CashBook.Properties.Settings>
      <setting name="InformationPopupCloseInterval" serializeAs="String">
        <value>1500</value>
      </setting>
      <setting name="CashRegistryNameCharacterLimit" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="SinglePaymentLimit" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="TotalPaymentLimit" serializeAs="String">
        <value>10000</value>
      </setting>
    </CashBook.Properties.Settings>
  </applicationSettings>
</configuration>
